@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@100&family=Open+Sans:wght@300&display=swap');

* {
  font-family: 'Open Sans', 'Anuphan', Arial, sans-serif;
}

body{
  background: url(../assets/default-background.jpg) no-repeat center center fixed;
}

/* Login /  Register */

#login_body{
  background: url(../assets/login-background.png) no-repeat center center fixed; 
  background-size: cover;
}

#register_body{
  background: url(../assets/register-background.png) no-repeat center center fixed; 
  background-size: cover;
}

#login_box{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 50rem;
}

#login_box>p{
  position: relative;
  right: 347px;
  top: 75px;
  margin: 0;
}

input::placeholder{
  color: black;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
  outline: none;
}

input:focus{
  outline: none;
}

#login_form{
  border: 1px solid blue;
  border-radius: 4em;
  padding: 3em;
  backdrop-filter: blur(5px);
  text-align: center;
}

#register_form{
  border: 1px solid rgb(240, 86, 40);
  border-radius: 4em;
  padding: 3em;
  backdrop-filter: blur(5px);
}

header{
  display: flex;
  justify-content: center;
  color: aliceblue;
}

#login_form>header>h3,#register_form>header>h3{
  font-family: "Trebuchet MS", sans-serif;
}

.inputbox{
  position: relative;
  width: 100%;
  margin-bottom: 1em;
  border-bottom: 2px solid white;
  align-self: center;
}

.register_error{
  position: absolute;
  top: 53px;
  font-size: x-small;
  margin: 0;
}

.inputbox label{
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color: black;
  background: transparent;
}

#login_inputbox input{
  width: 100%;
  height: 3em;
  background: transparent;
  border: 0;
  font-size: 1em;
  font-weight: 600;
}

#register_inputbox input{
  width: 100%;
  height: 3em;
  background: transparent;
  border: 0;
  font-size: 1em;
}

#login_button{
  justify-content: center;
  width: 100%;
  height: 3em;
  border-radius: 3em;
  background-color: rgba(24, 24, 153, 0.8);
  color: aliceblue;
  font-size: large;
  font-weight: bold;
  border: 0;
  margin-top: 2em;
}

#login_button:hover{
  background-color: rgba(24, 24, 153, 1);
  box-shadow: 0 5px 15px rgba(24, 24, 153, .4);
  cursor: pointer;
}

#register_button{
  width: 100%;
  height: 3em;
  border-radius: 3em;
  background-color: rgba(240, 86, 40,.8);
  color: aliceblue;
  font-size: large;
  font-weight: bold;
  border: 0;
  margin-top: 1em;
}

#register_button:hover{
  background-color: rgba(240, 86, 40,1);
  box-shadow: 0 5px 15px rgba(240, 86, 40,1);
  cursor: pointer;
}

button:active{
  transform: scale(0.95);
}

p{
  margin: 1em;
  color: aliceblue;
}

h3{
  font-size: 3em;
  text-align: center;
  font-weight: bold;
}

 /* Default */

.home_body{
  display: grid;
  grid-template-rows: auto auto;
  grid-template-areas: "sidebar page_header"
                       "sidebar default";
  grid-row-gap:0;
}

.page_header{
  background-color:#1d1b31;
  margin-top: -10px;
  padding-top:22px;
  padding-bottom: 22px;
  margin-left: -10px;
  padding-left: 10px;
  margin-right: -10px;
  padding-right: 10px;
}

.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  background: #11101d;
  z-index: 100;
  transition: all 0.5s ease;
}
.sidebar.close{
  width: 78px;
}
.sidebar .sidebarDetails{
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
}
.sidebar .sidebarDetails i{
  font-size: 30px;
  color: #fff;
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
}
.sidebar .sidebarDetails .websiteName{
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  transition: 0.3s ease;
  transition-delay: 0.1s;
}
.sidebar.close .sidebarDetails .websiteName{
  transition-delay: 0s;
  opacity: 0;
  pointer-events: none;
}
.sidebar .sidebarAllButtons{
  height: 100%;
  padding: 30px 0 150px 0;
  overflow: auto;
}
.sidebar.close .sidebarAllButtons{
  overflow: visible;
}
.sidebar .sidebarAllButtons::-webkit-scrollbar{
  display: none;
}
.sidebar .sidebarAllButtons li{
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.sidebar .sidebarAllButtons li:hover{
  background: #1d1b31;
}
.sidebar .sidebarAllButtons li .sidebarButton{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sidebar.close .sidebarAllButtons li .sidebarButton{
  display: block
}

.sidebar .sidebarAllButtons li i{
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  white-space: nowrap;
}
.sidebar .sidebarAllButtons li.showMenu i.arrow{
  transform: rotate(-180deg);
}
.sidebar.close .sidebarAllButtons i.arrow{
  display: none;
}
.sidebar .sidebarAllButtons li a{
  display: flex;
  align-items: center;
  text-decoration: none;
}
.sidebar .sidebarAllButtons li a .sidebarButtonName{
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  transition: all 0.4s ease;
}
.sidebar.close .sidebarAllButtons li a .sidebarButtonName{
  opacity: 0;
  pointer-events: none;
}
.sidebar .sidebarAllButtons li .subMenu{
  padding: 6px 6px 14px 80px;
  margin-top: -10px;
  background: #1d1b31;
  display: none;
}
.sidebar .sidebarAllButtons li.showMenu .subMenu{
  display: block;
}
.sidebar .sidebarAllButtons li .subMenu a{
  color: #fff;
  font-size: 15px;
  padding: 5px 0;
  white-space: nowrap;
  opacity: 0.6;
  transition: all 0.3s ease;
}
.sidebar .sidebarAllButtons li .subMenu a:hover{
  opacity: 1;
}
.sidebar.close .sidebarAllButtons li .subMenu{
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 0 6px 6px 0;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0s;
}
.sidebar.close .sidebarAllButtons li:hover .subMenu{
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
}
.sidebar .sidebarAllButtons li .subMenu .sidebarButtonName{
  display: none;
}
.sidebar.close .sidebarAllButtons li .subMenu .sidebarButtonName{
  font-size: 18px;
  opacity: 1;
  display: block;
}
.sidebar .sidebarAllButtons li .subMenu.none{
  opacity: 1;
  pointer-events: auto;
  padding: 3px 20px 6px 16px;
  opacity: 0;
  pointer-events: none;
}
.sidebar .sidebarAllButtons li:hover .subMenu.none{
  top: 50%;
  transform: translateY(-50%);
} 

.sidebar.close ~ .hamburguerMenu{
  top: -55px;
  left: 78px;
}
.hamburguerMenu{
  position: relative;
  height: 100vh;
  top: -55px;
  left: 260px;
  width:45px;
  transition: all 0.5s ease;
  justify-content: left;
  align-items: baseline;
  z-index: 99;
  height: 45px;
  display: flex;
  align-items: center;
}
.bx-menu{
  color:#fff;
  font-size: 35px;
  margin: 0 10px;
  cursor: pointer;
}

@media (max-width: 900px) {
  .sidebar.close .sidebarAllButtons li .subMenu,
  .sidebar.close .sidebarDetails i,
  .sidebar .sidebarDetails .websiteName{
    display: none;
  }
  .sidebar{
    width: 78px;
  }
  .sidebar.close{
    width: 0;
  }
  .mainSection{
    left: 78px;
    width: calc(100% - 78px);
    z-index: 100;
  }
  .sidebar.close ~ .mainSection{
    width: 100%;
    left: 0;
  }
  .sidebar.close .sidebarAllButtons{
    overflow: hidden;
  }
}

/* Profile */

.profile_info_sec {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: fit-content;
  border: 5px solid #262347;
  border-radius: 4em;
  text-align: center;
  justify-content: center;
  width: 80%; /* Increased width from 30% to 80% */
  max-width: 600px; /* Added maximum width for larger screens */
  margin: auto;
  padding: 3em;
  padding-top: 4em;
  backdrop-filter: blur(5px);
  box-sizing: border-box;
}



.profile_info_div p{
  color: aliceblue;
  margin: 0.2em;
}

.profile_info_sec h2{
  margin-top: 0;
  font-size: 2.2em;
  color: aliceblue;
}

.profile_info_div{
  margin-bottom: 2em;
  border-bottom: 1px solid aliceblue;
  padding-bottom: 0.3em;
  width: 100%;
}

.profile_info_title{
  font-size: 1.5em;
  font-weight: 500;
}

/* Change Profile Info */

#change_profile_info{
  padding-top: 5em;
  padding-bottom: 5em;
}

#change_info_form{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60vh;
  flex-direction: column;
}

#change_info_form header{
  padding: 1em;
}

.inputbox input{
  width: 100%;
  height: 3em;
  background: transparent;
  border: 0;
  font-size: 1em;
  font-weight: 600;
}


#change_button{
  justify-content: center;
  width: 100%;
  min-height: 3em;
  border-radius: 3em;
  background-color: rgba(38, 35, 71, 0.8);
  color: aliceblue;
  font-size: large;
  font-weight: bold;
  border: 0;
  margin-top: 2em;
  padding: 1em;
}

#change_button:hover{
  background-color: rgba(38, 35, 71, 1);
  box-shadow: 0 5px 15px rgba(38, 35, 71, .4);
  cursor: pointer;
}

/* Home */

.ticketContainer{
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 30em;
  border: 5px solid #262347;
  border-radius: 4em;
  text-align: center;
  justify-content: center;
  max-height: fit-content;
  width: 30%;
  margin: auto;
  padding: 3em;
  padding-top: 5em;
  padding-bottom: 5em;
  backdrop-filter: blur(5px);
}

.homeInput *{
  color: black;
  margin: 0.2em;
}

.ticketContainer h2{
  margin-top: 0;
  font-size: 2.2em;
  color: aliceblue;
}

.homeInput *:focus{
  outline: none;
}

.homeInput{
  margin-bottom: 2em;
  border-bottom: 1px solid aliceblue;
  padding-bottom: 0.3em;
  width: 100%;
}

.insertNewPost{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60vh;
  flex-direction: column;
}

.homeInput *{
  width: 100%;
  background: transparent;
  border: 0;
  font-size: 1em;
  font-weight: 600;
}

#subject_invalid{
  color:aliceblue;
}

.homeInput textarea{
  width: 100%;
  height: 12em;
  resize: none;
}

.homeInput textarea::placeholder{
  color: black;
}

.insertNewPost button{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  min-height: 3em;
  border-radius: 3em;
  background-color: rgba(38, 35, 71, 0.8);
  color: aliceblue;
  font-size: large;
  font-weight: bold;
  border: 0;
  margin-top: 2em;
  padding: 1em;
}

.insertNewPost button:hover{
  background-color: rgba(38, 35, 71, 1);
  box-shadow: 0 5px 15px rgba(38, 35, 71, .4);
  cursor: pointer;
}

/* Faq */

#faq_body{
  color: aliceblue;
}

#faq_body > h1 {
  font-family: "Trebuchet MS", sans-serif;
  font-size: 3em;
  letter-spacing: -2px;
  text-align: center;
  -webkit-text-stroke: 1px #1d1b31;
}

#faq_sec{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.question_list {
  width: 70%;
  margin-left: 300px;
  margin-right: 300px;
}

.questionAnswer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.question_list h2 {
  font-family: "Trebuchet MS", sans-serif;
  font-size: 2em;
  letter-spacing: -1px;
  -webkit-text-stroke: 1px #1d1b31;
}


/* Agent and Admin Menu */

.choice-menu{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 70vh;
}

.choice-menu li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  text-align: center;
  list-style: none; 
  width: 30em; 
  height: 15em; 
  background-color: #262347;
  cursor: pointer;
}

.choice-menu li a {
  text-decoration: none;
  color: aliceblue; 
  margin: 2em;
  font-family: 'Open Sans', 'Anuphan', Arial, sans-serif;
  letter-spacing: 2px;
}

/* Manage FAQ */

#manageFAQ,
#faqForm{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#manageFAQ p{
  color: aliceblue;
}

#manage_faq_box{
  margin: auto;
  border: 5px solid #1d1b31;
  width: fit-content;
  padding: 3em;
  border-radius: 4em;
}

#faqForm{
  height: 26em;
  margin-bottom: 7em;
  margin-top: 2em;
}

#faqForm h2{
  font-size: 4em;
  font-weight: 500;
  color: aliceblue;
  -webkit-text-stroke: 1px #1d1b31;
}

.textareaFAQdiv{
  width: 100%;
  margin-bottom: 2em;
  border-bottom: 1px solid aliceblue;
}

.textareaFAQ{
  height: 10em;
  width: 30em;
  resize: none;
  background: transparent;
  border: none;
}

.textareaFAQ::placeholder{
  color: black;
}

.textareaFAQ:focus{
  outline: none; 
}

#submitNewFAQ{
  margin-left: auto;
  margin-right: auto;
  width: 18em;
  min-height: 3em;
  border-radius: 3em;
  background-color: rgba(38, 35, 71, 0.8);
  color: aliceblue;
  font-size: large;
  font-weight: bold;
  border: 0;
  margin-top: 2em;
  padding: 1em;
}

#submitNewFAQ:hover{
  background-color: rgba(38, 35, 71, 1);
  box-shadow: 0 5px 15px rgba(38, 35, 71, .4);
  cursor: pointer;
}

.listFAQ{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.FAQitem{
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 50%;
}

.deleteFAQ{
  margin-left: auto;
  margin-right: auto;
  width: 8em;
  height: 3em;
  border-radius: 3em;
  background-color: rgba(38, 35, 71, 0.8);
  color: aliceblue;
  font-size: large;
  font-weight: bold;
  border: 0;
  padding: 1em;
  display: inline-block;
  margin-bottom: 5px;
}

.deleteFAQ:hover{
  background-color: rgba(38, 35, 71, 1);
  box-shadow: 0 5px 15px rgba(38, 35, 71, .4);
  cursor: pointer;
}

/* Ticket Page */

.changeTicket_inputBox p{
  color: black;
}

.pressHashtag:hover{
  cursor: pointer;
}

/* Manage Users */

.searchUser{
  display: flex;
  justify-content: right;
}

.searchUser div{
  border-width: 1px;
}

.searchUserDefault{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
}

#manage_users_sec{
  height: 50em;
  width: 40%;
}

.searchUserDefault .searchUserForm{
  width: 100%;
}

#manage_users_sec .homeInput p{
  font-size: 1.5em;
  font-weight: 500;
  color: aliceblue;
}

/* Add Entities */

#add_entities_sec{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 30em;
}

.manage_entities{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2em;
}

.manage_entities *{
  width: 100%;
}

.manage_entities select{
  background: transparent;
  border: 0;
  margin-bottom: 2em;
  outline: none;
}

.add_entity{
  margin-bottom: 3em;
}

.add_entity input{
  background: transparent;
  color: black;
  border: 0;
  margin-bottom: 2em;
  font-size: 1em;
}

.manage_entities .deleteFAQ{
  width: 15em;
  display: flex;
  justify-content: center;
}

/* Ticket Changelog */

#full_ticket_history,
#ticket_history_title{
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-left: 5em;
  color: white;
}

/* Tickets */

.ticketPageHeader{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5em;
  color: aliceblue;
}

.userTicket{
  background-color: #262347;
}

.tickets {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: -0.5em; /* Negative margin to offset the ticket margins */
  max-width: 60em; /* Set the desired maximum width for the section */
  margin-left: auto; /* Center the section horizontally */
  margin-right: auto;
}

.ticket {
  width: calc(25% - 1em); /* Adjusted width with margins subtracted */
  height: 19em; /* Set the desired fixed height */
  margin: 0.5em; /* Margin between tickets */
  box-sizing: border-box; /* Include margins in the width calculation */
  word-wrap: break-word;
  border: 2px solid black;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ticketCreatedAt{
  margin-top: auto;
}

.ticket.Low{
  background-color:goldenrod;
}
.ticket.Medium{
  background-color:coral;
}
.ticket.High{
  background-color:darkred;
}

.ticket:hover{
  box-shadow: 0 5px 15px #1d1b31;
  cursor: pointer;
}

.sortTickets {
  display: flex;
  justify-content: flex-end;
}

.sortTickets label {
  font-size: 1.5em; /* Adjust the font size as desired */
  color: aliceblue;
}

.sortTickets *{
  margin-right: 0.5em;
}

.sortTickets select,
.sortTickets button {
  background-color: transparent; /* Set the background color to transparent */
  color: aliceblue;
  border: none; /* Remove the border */
  border-bottom: 1px solid aliceblue;
  outline: none;
  font-size: 1.3em;
}

.sortTickets button {
  margin-left: 2em;
  width: 5em;
  height: 2em;
  border-radius: 3em;
  background-color: rgba(38, 35, 71, 0.8);
  color: aliceblue;
  font-size: large;
  font-weight: bold;
  border: 0;
  padding: 1em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.sortTickets button:hover{
  background-color: rgba(38, 35, 71, 1);
  box-shadow: 0 5px 15px rgba(38, 35, 71, .4);
  cursor: pointer;
}

/* Ticket Page */

#ticket_page_section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#singleTicket{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#edit_ticket_section{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  margin-bottom: 4em;
}

.editTicketForm{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 1em;
  margin-right: 1em;
  width: 12em;
}

.editTicketForm *{
  width: 100%;
}

#ticket_changelog{
  margin-bottom: 4em;
  font-size: 2em;
  color: aliceblue;
}

.editTicketInputbox{
  background-color: transparent;
  border: none;
  margin-bottom: 1.5em;
  font-size: 0.9em;
  border-bottom: 1px solid aliceblue;
  padding-bottom: 5px;
}

.editTicketInputbox:focus{
  outline: none;
}

.changeTicketInfoButton {
  height: 3em;
  border-radius: 3em;
  background-color: rgba(38, 35, 71, 0.8);
  color: aliceblue;
  font-size: 0.9em;
  font-weight: bold;
  border: 0;
  padding: 1em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.changeTicketInfoButton:hover{
  background-color: rgba(38, 35, 71, 1);
  box-shadow: 0 5px 15px rgba(38, 35, 71, .4);
  cursor: pointer;
}

.singleTicketInfo {
  border: 3px solid #1d1b31;
  display: inline-block;
  padding: 10px;
  max-width: 30em; /* Set a maximum width for the container */
  word-wrap: break-word; /* Allow text to wrap within the container */
  border-radius: 1em;
  margin-bottom: 2em;
}

#ticketAnswers{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ticketAnswer{
  border: 2px solid #1d1b31;
  display: inline-block;
  padding: 10px;
  width: 30em; /* Set a maximum width for the container */
  word-wrap: break-word; /* Allow text to wrap within the container */
  border-radius: 1em;
  margin-bottom: 1em;
}

#ticket_answer_area{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#insertTicketAnswer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#insertTicketAnswer button{
  width: 100%;
}

#newAnswerText{
  resize: none;
  background-color: transparent;
  border: 2px solid #1d1b31;
  border-radius: 1em;
  width: 30em;
  height: 5em;
  padding: 5px;
  margin-bottom: 1em;
}

#newAnswerText:focus{
  outline: none;
}

#newAnswerText::placeholder{
  color: aliceblue;
}

#insertTicketFaqAnswer{
  margin-top: 1em;
}

#faqSelect{
  background-color: transparent;
  border: none;
  border-bottom: 1px solid aliceblue;
  padding: 5px;
  width: 15em;
  font-size: 1em;
}

#faqSelect:focus{
  outline: none;
}

#quick_answer_button{
    margin-left: auto;
    margin-right: auto;
    width: 8em;
    height: auto; /* Remove fixed height */
    border-radius: 3em;
    background-color: rgba(38, 35, 71, 0.8);
    color: aliceblue;
    font-size: large;
    font-weight: bold;
    border: 0;
    padding: 0.5em;
    display: inline-block;
    line-height: 3em; /* Set line-height equal to button height */
}

@media (max-width: 900px) {
  #change_profile_info.profile_info_sec {
    height: 40em;
    width: 100%;
  }
  .ticket {
    width: 100%;
  }
  .sortTickets {
    flex-direction: column;
  }

  .sortTickets label,
  .sortTickets select,
  .sortTickets button {
    width: 100%;
    margin-bottom: 1em;
  }
  .sortTickets button {
    width: 100%;
    margin: 0 auto;
  }
  #manage_faq_box {
    width: 100%;
    padding: 0 1em;
    box-sizing: border-box;
    overflow-x: hidden;
  }

  #manage_faq_box header h2 {
    font-size: 3em;
    margin-bottom: 1em;
  }

  .textareaFAQdiv {
    width: 100%;
    margin-bottom: 1em;
  }

  .textareaFAQ {
    width: 100%;
  }

  #submitNewFAQ {
    width: 100%;
    margin: 0.5em 0;
  }
  #faq_sec {
    text-align: center;
  }
  ul{
    padding-left: 0;
  }
  .ticketContainer{
    width: 70%;
  }
  #ticket_page_section {
    padding: 1em;
  }

  #edit_ticket_section {
    flex-direction: column;
    margin-bottom: 2em;
  }

  .editTicketForm {
    margin: 0;
    width: 100%;
  }

  .editTicketInputbox {
    margin-bottom: 1.5em;
  }

  .changeTicketInfoButton {
    margin-top: 0.5em;
    margin-bottom: 1.5em;
  }

  .singleTicketInfo {
    max-width: 100%;
  }

  #newAnswerText {
    margin-bottom: 1.5em;
    max-width: 20em;
  }

  #faqSelect {
    width: 100%;
    margin-bottom: 1.5em;
  }

  #quick_answer_button {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
}