@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@100&family=Open+Sans:wght@300&display=swap');

* {
    font-family: 'Open Sans', 'Anuphan', Arial, sans-serif;
}

body{
    background: url(images/login-background.png) no-repeat center center fixed; 
    background-size: cover;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 50rem;
}

input::placeholder{
    color: black;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
  outline: none;
}

input:focus{
    outline: none;
}

form{
    border: 1px solid blue;
    border-radius: 4em;
    padding: 3em;
    backdrop-filter: blur(5px);
    text-align: center;
}

header{
    display: flex;
    justify-content: center;
    color: aliceblue;
}

.inputbox{
    position: relative;
    width: 100%;
    margin-bottom: 1em;
    border-bottom: 2px solid white;
    align-self: center;
}

.inputbox label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: black;
    background: transparent;
}

.inputbox input{
    width: 100%;
    height: 3em;
    background: transparent;
    border: 0;
    font-size: 1em;
    font-weight: 600;
}

button{
    justify-content: center;
    width: 100%;
    height: 3em;
    border-radius: 3em;
    background-color: rgba(24, 24, 153, 0.8);
    color: aliceblue;
    font-size: large;
    font-weight: bold;
    border: 0;
    margin-top: 1em;
}

button:hover{
    background-color: rgba(24, 24, 153, 1);
    box-shadow: 0 5px 15px rgba(24, 24, 153, .4);
    cursor: pointer;
}

button:active{
    transform: scale(0.95);
}

p{
    margin: 1em;
    color: aliceblue;
}

h3{
    font-size: 3em;
    text-align: center;
    font-weight: bold;
}